/*CSS variables section*/
:root {
    
color:white;
}

/*Extra Large screens - Extra large desktops*/

/*General CSS and CSS reset*/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}
section{
    margin-top: 46px;
}

.hero{
    background-image:url("https://spaces.w3schools.com/images/f4RBYsY2hxA_1200_670.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    

    
}
.hero-text{
    background-color: rgba(4,7,32,0.5);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color:white;
    
    text-shadow: 8px 10px 10px #000000;
    border-top:none;
    border-bottom: none;
    padding: 90px 40px;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 800;
    
}
.about{
    
    height: 700px;
    background-image: url("https://spaces.w3schools.com/images/xwMlVSqP20U.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    

    
}
.icons{
    font-size: 20px;
    letter-spacing: 5px;

}
.title{
    color:white;
    width:100%;
    margin:auto;
    padding:60px 10px;
    font-size: 50px;
    font-weight: 600;
    margin-left: 10%;
    text-transform: uppercase;
    width: 80%; 
    
}
.about-main{
    width: 90%;
     
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.about-text{
    background-color: rgb(16, 19, 47);
    padding: 30px ;
    width:500px;
    
}

h3{
    font-size: 40px;
    
    font-weight: 600;
    
}
.service{
    padding-bottom: 100px;
    background-color: black;
    overflow: hidden;
}
.card{
    width:80%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
}
.card-list{
    width:300px;
    margin-top: 50px;
    overflow: hidden;

}

.card-image{
    width:100%;
    height: 400px;

}
.card-image img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.card-text{
    width:90%;
    
}
